@mixin layout-container($height: 100vh) {
	@include container;
	background-image: $clr-bg-teal-linear;
	border-radius: $br-lg;
	overflow: hidden;
	min-height: $height;
	box-shadow: $bs-container;
}

@mixin layout-wrapper {
	padding-block: 2rem;

	@include bp {
		padding-block: 4rem;
	}
}

@mixin layout-grid {
	display: grid;
	padding-inline: 1rem;

	@include bp(1024px) {
		grid-template-columns: minmax(100px, 300px) 1fr;
		padding: 4rem 5rem;
		gap: 4rem;
	}
}
