@mixin mobile-bp($bp: 767px) {
	@media (max-width: $bp) {
		@content;
	}
}

@mixin bp($bp: 768px) {
	@media (min-width: $bp) {
		@content;
	}
}

@mixin container {
	width: 100%;
	max-width: 1300px;

	@include bp {
		margin-inline: auto;
	}
}

@mixin font-reset(
	$ff: $ff-oswald,
	$fs: $fsd-txt,
	$fw: 300,
	$ls: 1px,
	$clr: $clr-txt-light,
	$tt: uppercase
) {
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	letter-spacing: $ls;
	color: $clr;
	text-transform: $tt;
}

@mixin button {
	@include font-reset();

	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: transparent;
	border-radius: $br-md;
	border: none;
	cursor: pointer;
	padding: 1.6rem 4rem;
	transition: $tr-03;
	white-space: nowrap;
	text-align: center;
	outline: none;

	&:hover,
	&:focus {
		filter: brightness(1.15);
	}
}

@mixin card-grid {
	display: grid;
	column-gap: 3rem;
	row-gap: 5rem;

	@include bp {
		// grid-auto-flow: column;
		// grid-auto-columns: 1fr;
		grid-template-columns: repeat(3, 1fr);
	}
}
