@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Oswald:wght@300;500&display=swap");

@font-face {
	font-family: "Ayres";
	src: url("../fonts/Ayres.woff");
}

// Fonts

// $ff-garamond: "EB Garamond", serif;
$ff-garamond: "Ayres", serif;
$ff-oswald: "Oswald", sans-serif;

// Colors

// background

$clr-bg-purple1: #7b4691;
$clr-bg-purple2: #332443;
$clr-bg-purple3: #1d192d;

$clr-bg-purple-linear: linear-gradient(
	$clr-bg-purple1,
	$clr-bg-purple2,
	$clr-bg-purple3
);

$clr-bg-teal1: #20384c;
$clr-bg-teal2: #24243c;
$clr-bg-teal3: #43bcb6;

$clr-bg-teal-linear: linear-gradient(165deg, $clr-bg-teal1, $clr-bg-teal2 70%);

//---------

$clr-txt-dark: hsl(0, 0%, 8%);
$clr-txt-light: #ebebeb;
$clr-txt-inactive: #bfbfbf;

$clr-btn-hero: #7c458c;
$clr-btn-card: #3e918e;

$clr-light: hsl(0, 0%, 95%);
$clr-ornament-light: hsl(198, 43%, 30%);

//-------

$fsm-txt: 14px;
$fsd-txt: 16px;

// -------

$br-lg: 15px;
$br-md: 10px;
$br-sm: 7px;

// --------

$tr-02: 0.2s all ease-out;
$tr-03: 0.3s all ease-out;

// --------

$border-light: 1px solid hsl(0, 0%, 100%, 0.2);

// --------
$p-nav-link: 1.5rem 3rem;
