*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

#__nuxt {
	min-height: 100vh;

	font-family: $ff-oswald;
	font-size: $fsm-txt;
	font-weight: 300;
	color: $clr-txt-light;
	line-height: 1.45;
	letter-spacing: 1px;
	background-image: $clr-bg-purple-linear;

	@include bp {
		font-size: $fsd-txt;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $ff-ayres;
	line-height: 1.1;
	letter-spacing: 0.5px;
}

h1 {
	font-size: 5.341rem;

	@include bp {
		font-size: 8.976rem;
	}
}

h2 {
	font-size: 4.272rem;

	@include bp {
		font-size: 6.734rem;
	}
}

h3 {
	font-size: 3.418rem;

	@include bp {
		font-size: 5.052rem;
	}
}

h4 {
	font-size: 2.734rem;

	@include bp {
		font-size: 3.79rem;
	}
}

h5 {
	font-size: 2.188rem;

	@include bp {
		font-size: 2.843rem;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}
